<div class="row">
  <div class="col s12 mt30 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <div class="card-title">预约</div>
        <div class="row">
          <div class="col s12">
            <p>账户余额(元)：<span>9999999</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p>预约中项目：<span>赤道V1</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <p class="trans-point">金额(元)：<span>5000000</span></p>
          </div>
          <div class="col s12 m6">
            <p>人数(人)：<span>50</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p>进度：<span>10%</span></p>
            <div class="progress">
              <div class="determinate" style="width: 10%"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <p class="trans-point">开始时间：<span>2017-5-24 09:00</span></p>
          </div>
          <div class="col s12 m6">
            <p>结束时间：<span>2017-5-24 18:00</span></p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <form>
              <div class="input-field">
                <select>
                  <option value="" selected>请选择预约项目</option>
                  <option value="1">赤道V1</option>
                </select>
                <label>预约项目</label>
              </div>
              <div class="input-field">
                <input placeholder="请输入预约金额" id="orderMoney" type="number" class="validate">
                <label for="orderMoney" class="active">预约金额(元)</label>
              </div>
              <div class="input-field pl3t2 center">
                <a href="javascript:void (0);" class="waves-effect waves-light btn-large" id="orderBtn">预约</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

