<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="v-title">停牌份额</div>
      </div>
    </div>
    <div class="row" style="margin-bottom:0;">
      <div class="col s12" style="padding:0;">
        <ul class="tabs tabs-fixed-width z-depth-1" id="transferTabs">
          <li class="tab"><a class="active" href="#test1" (click)="getTransferList()">全部状态</a></li>
          <li class="tab"><a href="#test2" (click)="getTransferList('transfering')">转让中</a></li>
          <li class="tab"><a href="#test3" (click)="getTransferList('transfering_success')">转让成功</a></li>
          <li class="tab"><a href="#test4" (click)="getTransferList('transfering_cancle')">取消转让</a></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div id="test1">
          <table class="bordered centered highlight responsive-table">
            <thead>
            <tr>
              <th>转让时间</th>
              <th>转让状态</th>
              <th>转让金额</th>
              <th>摘要</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of pagedLists">
              <td>{{list.time}}</td>
              <td>{{list.transferState}}</td>
              <td>{{list.transferPrice}}</td>
              <td>{{list.abstract}}</td>
              <td><a href="javascript:void (0);" class="waves-effect waves-light btn" (click)="eventTrigger(list.id,list.handle)">{{list.handle}}</a></td>
            </tr>
            </tbody>
          </table>
          <app-paginator rows="{{rows}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[3,6,10]" (onPageChange)="setPage($event)"></app-paginator>
        </div>
        <div id="test2">
          <table class="bordered centered highlight responsive-table">
            <thead>
            <tr>
              <th>转让时间</th>
              <th>转让状态</th>
              <th>转让金额</th>
              <th>摘要</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of pagedLists">
              <td>{{list.time}}</td>
              <td>{{list.transferState}}</td>
              <td>{{list.transferPrice}}</td>
              <td>{{list.abstract}}</td>
              <td><a href="javascript:void (0);" class="waves-effect waves-light btn">{{list.handle}}</a></td>
            </tr>
            </tbody>
          </table>
          <app-paginator  rows="{{rows}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[3,6,10]" (onPageChange)="setPage($event)"></app-paginator>
        </div>
        <div id="test3">
          <table class="bordered centered highlight responsive-table">
            <thead>
            <tr>
              <th>转让时间</th>
              <th>转让状态</th>
              <th>转让金额</th>
              <th>摘要</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of pagedLists">
              <td>{{list.time}}</td>
              <td>{{list.transferState}}</td>
              <td>{{list.transferPrice}}</td>
              <td>{{list.abstract}}</td>
              <td><a href="javascript:void (0);" class="waves-effect waves-light btn">{{list.handle}}</a></td>
            </tr>
            </tbody>
          </table>
          <app-paginator rows="{{rows}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[3,6,10]" (onPageChange)="setPage($event)"></app-paginator>
        </div>
        <div id="test4">
          <table class="bordered centered highlight responsive-table">
            <thead>
            <tr>
              <th>转让时间</th>
              <th>转让状态</th>
              <th>转让金额</th>
              <th>摘要</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of pagedLists">
              <td>{{list.time}}</td>
              <td>{{list.transferState}}</td>
              <td>{{list.transferPrice}}</td>
              <td>{{list.abstract}}</td>
              <td><a href="javascript:void (0);" class="waves-effect waves-light btn">{{list.handle}}</a></td>
            </tr>
            </tbody>
          </table>
          <app-paginator rows="{{rows}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[3,6,10]" (onPageChange)="setPage($event)"></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


