.card .card-content .card-title{
  font-family: "Microsoft JhengHei";
  font-weight: 600;
  border-left:3px solid #ee6e73;
  padding-left:15px;
  margin-bottom:20px;
}
.input-field label{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

