  <div class="row fixed-logo">
    <div class="col s12 user-logo">
      <a href="#"><img src="../../../assets/images/logo-inverse.png" alt=""></a>
    </div>
  </div>
  <div class="row box">
    <div class="col s12 m7">
      <div class="flexbox-container">
        <div class="flexbox-item">
          <div class="row">
            <div class="col s12 edge">
              <h4>登录-Login</h4>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <form [formGroup]="formModel" (submit)="onLogin()" novalidate>
                <div class="input-field">
                  <i class="material-icons prefix">account_circle</i>
                  <input placeholder="请输入手机号或用户名" formControlName="username" id="username" type="text" class="validate">
                  <label for="username" class="active">手机号或用户名</label>
                  <div class="v-error" [hidden]="formModel.get('username').valid || formModel.get('username').pristine">
                    <div [hidden]="!formModel.hasError('required','username')">用户名不能为空</div>
                    <div [hidden]="!formModel.hasError('minlength','username')">用户名最小长度是6</div>
                  </div>
                </div>
                <div class="input-field">
                  <i class="material-icons prefix">lock</i>
                  <input placeholder="请输入密码" formControlName="password" id="password" type="password" class="validate">
                  <label for="password" class="active">密码</label>
                  <div class="v-error" [hidden]="formModel.get('password').valid || formModel.get('password').pristine">
                    <div [hidden]="!formModel.hasError('required','password')">用户名不能为空</div>
                    <div [hidden]="!formModel.hasError('minlength','password')">用户名最小长度是6</div>
                  </div>
                </div>
                <div class="input-field pl3 left-align">
                  <a [routerLink]="['/user/forgetPwd']" class="waves-effect waves-light btn-flat right mt5" id="forgetPwd">忘记密码</a>
                  <input formControlName="checked" id="remember" type="checkbox" class="validate">
                  <label for="remember">记住密码</label>
                </div>
                <div class="input-field pl3t2">
                  <button type="submit" class="waves-effect waves-light btn-large login-btn" [disabled]="formModel.invalid" id="loginBtn">登录</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m5">
      <div class="flexbox-container">
        <div class="flexbox-item">
          <a [routerLink]="['/user/register']"><img src="../../../assets/images/person-nancy-200.png" alt=""></a>
          <div class="row">
            <div class="col s12" style="padding-top: 2rem;">
              <h5>需要一个账户吗</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s12" style="margin-top:0.3rem;">
              <a [routerLink]="['/user/register']" class="waves-effect waves-light btn-large register-btn">马上注册</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


