<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <div class="v-title">结算列表</div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <nav style="margin-bottom: 40px;">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input [formControl]="nameFilter" #myInput id="search" type="search" placeholder="请输入项目名称" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
        <table class="responsive-table highlight bordered centered">
          <thead>
            <tr>
              <th>项目</th>
              <th>结算日期</th>
              <th>结算日市值(元)</th>
              <th>投资人收益(%)</th>
              <th>操盘手收益(%)</th>
              <th>赎回情况</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of pagedLists | filter:'loanName':keyword">
              <td>{{list.loanName}}</td>
              <td>{{list.repayDate}}</td>
              <td>{{list.stockAmt}}</td>
              <td>{{list.investRate}}</td>
              <td>{{list.operateRate}}</td>
              <td>{{list.backInfo}}</td>
            </tr>
          </tbody>
        </table>
        <app-paginator rows="{{rows}}" totalRecords="{{totalRecords}}" [rowsPerPageOptions]="[3,6,10]" (onPageChange)="setPage($event)"></app-paginator>
      </div>
    </div>
  </div>
</div>
